@import 'common/styles/variables';

.joinRadioButton {
  align-self: stretch;
  display: flex;
  text-align: left;
  cursor: pointer;
  border: 1px solid $main-text-color;
  margin-bottom: 20px;
  padding: 15px 20px;
  color: $main-text-color;
  & p {
    margin: 0;
    font-size: 0.9rem;
  }
}
.containerRadioButton {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  & > input {
    margin-top: 20px;
  }
  & > h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}